In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
SCHEDULE_URL = 'https://statsapi.mlb.com/api/v1/schedule'
TEAMS_URL = 'https://statsapi.mlb.com/api/v1/teams'
params = {'sportId': 1, 'season': 2023}

In [3]:
teams_resp = requests.get(TEAMS_URL, params | {'hydrate': 'standings'}).json()
teams_df = pd.json_normalize(teams_resp['teams'])

teams_df

,allStarStatus,id,name,link,season,teamCode,fileCode,abbreviation,teamName,locationName,...,record.eliminationNumberDivision,record.eliminationNumberConference,record.wildCardEliminationNumber,record.wins,record.losses,record.runDifferential,record.winningPercentage,record.wildCardLeader,record.magicNumber,record.clinchIndicator
0,N,133,Oakland Athletics,/api/v1/teams/133,2023,oak,oak,OAK,Athletics,Oakland,...,E,63,E,46,99,-295,.317,NaN,NaN,NaN
1,N,134,Pittsburgh Pirates,/api/v1/teams/134,2023,pit,pit,PIT,Pirates,Pittsburgh,...,4,84,9,67,78,-90,.462,NaN,NaN,NaN
2,N,135,San Diego Padres,/api/v1/teams/135,2023,sdn,sd,SD,Padres,San Diego,...,E,84,9,68,78,55,.466,NaN,NaN,NaN
3,N,136,Seattle Mariners,/api/v1/teams/136,2023,sea,sea,SEA,Mariners,Seattle,...,16,97,-,80,65,103,.552,True,NaN,NaN
4,N,137,San Francisco Giants,/api/v1/teams/137,2023,sfn,sf,SF,Giants,San Francisco,...,4,91,16,74,71,-8,.510,NaN,NaN,NaN
5,N,138,St. Louis Cardinals,/api/v1/teams/138,2023,sln,stl,STL,Cardinals,St. Louis,...,1,81,6,64,81,-74,.441,NaN,NaN,NaN
6,N,139,Tampa Bay Rays,/api/v1/teams/139,2023,tba,tb,TB,Rays,St. Petersburg,...,15,105,-,89,57,197,.610,True,NaN,NaN
7,N,140,Texas Rangers,/api/v1/teams/140,2023,tex,tex,TEX,Rangers,Arlington,...,17,98,-,80,64,151,.556,True,NaN,NaN
8,N,141,Toronto Blue Jays,/api/v1/teams/141,2023,tor,tor,TOR,Blue Jays,Toronto,...,7,97,-,80,65,72,.552,True,NaN,NaN
9,N,142,Minnesota Twins,/api/v1/teams/142,2023,min,min,MIN,Twins,Minneapolis,...,-,93,-,76,69,72,.524,NaN,10,NaN
10,N,143,Philadelphia Phillies,/api/v1/teams/143,2023,phi,phi,PHI,Phillies,Philadelphia,...,2,96,-,79,66,70,.545,True,NaN,NaN
11,N,144,Atlanta Braves,/api/v1/teams/144,2023,atl,atl,ATL,Braves,Atlanta,...,-,-,-,95,50,239,.655,NaN,-,x
12,N,145,Chicago White Sox,/api/v1/teams/145,2023,cha,cws,CWS,White Sox,Chicago,...,E,73,E,56,89,-151,.386,NaN,NaN,NaN
13,N,146,Miami Marlins,/api/v1/teams/146,2023,mia,mia,MIA,Marlins,Miami,...,E,91,16,74,71,-60,.510,NaN,NaN,NaN
14,N,147,New York Yankees,/api/v1/teams/147,2023,nya,nyy,NYY,Yankees,Bronx,...,E,90,11,73,72,-15,.503,NaN,NaN,NaN
15,N,158,Milwaukee Brewers,/api/v1/teams/158,2023,mil,mil,MIL,Brewers,Milwaukee,...,-,99,-,81,63,50,.563,NaN,14,NaN
16,N,108,Los Angeles Angels,/api/v1/teams/108,2023,ana,ana,LAA,Angels,Anaheim,...,3,84,5,68,78,-71,.466,NaN,NaN,NaN
17,N,109,Arizona Diamondbacks,/api/v1/teams/109,2023,ari,ari,AZ,D-backs,Phoenix,...,5,92,-,76,70,-17,.521,True,NaN,NaN
18,N,110,Baltimore Orioles,/api/v1/teams/110,2023,bal,bal,BAL,Orioles,Baltimore,...,-,109,-,91,53,121,.632,NaN,15,NaN
19,N,111,Boston Red Sox,/api/v1/teams/111,2023,bos,bos,BOS,Red Sox,Boston,...,E,90,11,73,72,14,.503,NaN,NaN,NaN
20,N,112,Chicago Cubs,/api/v1/teams/112,2023,chn,chc,CHC,Cubs,Chicago,...,14,94,-,78,68,97,.534,True,NaN,NaN
21,N,113,Cincinnati Reds,/api/v1/teams/113,2023,cin,cin,CIN,Reds,Cincinnati,...,11,91,16,75,71,-36,.514,NaN,NaN,NaN
22,N,114,Cleveland Guardians,/api/v1/teams/114,2023,cle,cle,CLE,Guardians,Cleveland,...,10,85,6,69,77,-31,.473,NaN,NaN,NaN
23,N,115,Colorado Rockies,/api/v1/teams/115,2023,col,col,COL,Rockies,Denver,...,E,70,E,52,92,-221,.361,NaN,NaN,NaN
24,N,116,Detroit Tigers,/api/v1/teams/116,2023,det,det,DET,Tigers,Detroit,...,9,84,5,66,78,-113,.458,NaN,NaN,NaN
25,N,117,Houston Astros,/api/v1/teams/117,2023,hou,hou,HOU,Astros,Houston,...,-,98,-,82,64,117,.562,NaN,17,NaN
26,N,118,Kansas City Royals,/api/v1/teams/118,2023,kca,kc,KC,Royals,Kansas City,...,E,61,E,45,101,-190,.308,NaN,NaN,NaN
27,N,119,Los Angeles Dodgers,/api/v1/teams/119,2023,lan,la,LAD,Dodgers,Los Angeles,...,-,106,-,88,56,178,.611,NaN,5,NaN
28,N,120,Washington Nationals,/api/v1/teams/120,2023,was,was,WSH,Nationals,Washington,...,E,82,7,65,80,-129,.448,NaN,NaN,NaN
29,N,121,New York Mets,/api/v1/teams/121,2023,nyn,nym,NYM,Mets,Flushing,...,E,84,9,66,78,-35,.458,NaN,NaN,NaN

In [4]:
ratings = teams_df.set_index('abbreviation')['record.winningPercentage']
ratings

abbreviation
OAK    .317
PIT    .462
SD     .466
SEA    .552
SF     .510
STL    .441
TB     .610
TEX    .556
TOR    .552
MIN    .524
PHI    .545
ATL    .655
CWS    .386
MIA    .510
NYY    .503
MIL    .563
LAA    .466
AZ     .521
BAL    .632
BOS    .503
CHC    .534
CIN    .514
CLE    .473
COL    .361
DET    .458
HOU    .562
KC     .308
LAD    .611
WSH    .448
NYM    .458
Name: record.winningPercentage, dtype: object

In [5]:
schedule_data = requests.get(SCHEDULE_URL, params | {'hydrate': 'team'}).json()
all_gms = pd.json_normalize(schedule_data['dates'], record_path=['games']).set_index('gamePk')
reg = all_gms.query('gameType=="R"')

# Remove the stubs of games that were rescheduled or suspended
remove = pd.concat([reg['resumeDate'].dropna(), reg['rescheduleDate'].dropna()]).index
reg = reg[~reg.index.isin(remove)]
reg

,gameGuid,link,gameType,season,gameDate,officialDate,isTie,gameNumber,publicFacing,doubleHeader,...,rescheduleDate,rescheduleGameDate,rescheduledFrom,rescheduledFromDate,resumeDate,resumeGameDate,resumedFrom,resumedFromDate,teams.away.team.placeholder,teams.home.team.placeholder
gamePk,,,,,,,,,,,,,,,,,,,,,
718780,28889d0d-b745-4054-b0d3-5fc4cfa06df9,/api/v1.1/game/718780/feed/live,R,2023,2023-03-30T17:05:00Z,2023-03-30,False,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718781,ff222b1e-8305-4b37-89a5-2e150e1a708f,/api/v1.1/game/718781/feed/live,R,2023,2023-03-30T17:05:00Z,2023-03-30,False,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718782,1f695ffe-1a00-41b0-b49e-49eba23de34b,/api/v1.1/game/718782/feed/live,R,2023,2023-03-30T18:10:00Z,2023-03-30,False,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718777,5c968a1a-e61e-42fa-8609-720a021e6c35,/api/v1.1/game/718777/feed/live,R,2023,2023-03-30T18:20:00Z,2023-03-30,False,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718776,a2bf6d6f-ec9e-44b3-9f37-9c4bfdc0969a,/api/v1.1/game/718776/feed/live,R,2023,2023-03-30T19:10:00Z,2023-03-30,False,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716355,5f6d16a1-ca5a-4499-accb-6b4bd5b83fff,/api/v1.1/game/716355/feed/live,R,2023,2023-10-01T19:10:00Z,2023-10-01,NaN,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716356,7cbab121-3edf-459a-bb68-e3ebd4d6ae87,/api/v1.1/game/716356/feed/live,R,2023,2023-10-01T19:10:00Z,2023-10-01,NaN,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716352,f4f42ab9-8d91-44e0-9fe5-4fa150005dac,/api/v1.1/game/716352/feed/live,R,2023,2023-10-01T19:10:00Z,2023-10-01,NaN,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716364,d6dfcdd2-03c3-4fa2-ad8d-5b8239ea35fb,/api/v1.1/game/716364/feed/live,R,2023,2023-10-01T19:10:00Z,2023-10-01,NaN,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716353,cd07873e-b75a-4902-a329-166537c5c032,/api/v1.1/game/716353/feed/live,R,2023,2023-10-01T19:15:00Z,2023-10-01,NaN,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
reg.columns.values

array(['gameGuid', 'link', 'gameType', 'season', 'gameDate',
       'officialDate', 'isTie', 'gameNumber', 'publicFacing',
       'doubleHeader', 'gamedayType', 'tiebreaker', 'calendarEventID',
       'seasonDisplay', 'dayNight', 'scheduledInnings',
       'reverseHomeAwayStatus', 'inningBreakLength', 'seriesDescription',
       'recordSource', 'ifNecessary', 'ifNecessaryDescription',
       'status.abstractGameState', 'status.codedGameState',
       'status.detailedState', 'status.statusCode', 'status.startTimeTBD',
       'status.abstractGameCode', 'teams.away.leagueRecord.wins',
       'teams.away.leagueRecord.losses', 'teams.away.leagueRecord.pct',
       'teams.away.score', 'teams.away.team.allStarStatus',
       'teams.away.team.id', 'teams.away.team.name',
       'teams.away.team.link', 'teams.away.team.season',
       'teams.away.team.venue.id', 'teams.away.team.venue.name',
       'teams.away.team.venue.link', 'teams.away.team.teamCode',
       'teams.away.team.fileCode', 'teams.away.team.abbreviation',
       'teams.away.team.teamName', 'teams.away.team.locationName',
       'teams.away.team.firstYearOfPlay', 'teams.away.team.league.id',
       'teams.away.team.league.name', 'teams.away.team.league.link',
       'teams.away.team.sport.id', 'teams.away.team.sport.link',
       'teams.away.team.sport.name', 'teams.away.team.shortName',
       'teams.away.team.parentOrgName', 'teams.away.team.parentOrgId',
       'teams.away.team.franchiseName', 'teams.away.team.clubName',
       'teams.away.team.active', 'teams.away.isWinner',
       'teams.away.splitSquad', 'teams.home.leagueRecord.wins',
       'teams.home.leagueRecord.losses', 'teams.home.leagueRecord.pct',
       'teams.home.score', 'teams.home.team.springLeague.id',
       'teams.home.team.springLeague.name',
       'teams.home.team.springLeague.link',
       'teams.home.team.springLeague.abbreviation',
       'teams.home.team.allStarStatus', 'teams.home.team.id',
       'teams.home.team.name', 'teams.home.team.link',
       'teams.home.team.season', 'teams.home.team.venue.id',
       'teams.home.team.venue.name', 'teams.home.team.venue.link',
       'teams.home.team.springVenue.id',
       'teams.home.team.springVenue.link', 'teams.home.team.teamCode',
       'teams.home.team.fileCode', 'teams.home.team.abbreviation',
       'teams.home.team.teamName', 'teams.home.team.locationName',
       'teams.home.team.firstYearOfPlay', 'teams.home.team.league.id',
       'teams.home.team.league.name', 'teams.home.team.league.link',
       'teams.home.team.division.id', 'teams.home.team.division.name',
       'teams.home.team.division.link', 'teams.home.team.sport.id',
       'teams.home.team.sport.link', 'teams.home.team.sport.name',
       'teams.home.team.shortName', 'teams.home.team.franchiseName',
       'teams.home.team.clubName', 'teams.home.team.active',
       'teams.home.isWinner', 'teams.home.splitSquad',
       'teams.home.springLeague.id', 'teams.home.springLeague.name',
       'teams.home.springLeague.link',
       'teams.home.springLeague.abbreviation', 'venue.id', 'venue.name',
       'venue.link', 'content.link', 'gamesInSeries', 'seriesGameNumber',
       'teams.away.team.springLeague.id',
       'teams.away.team.springLeague.name',
       'teams.away.team.springLeague.link',
       'teams.away.team.springLeague.abbreviation',
       'teams.away.team.springVenue.id',
       'teams.away.team.springVenue.link', 'teams.away.team.division.id',
       'teams.away.team.division.name', 'teams.away.team.division.link',
       'teams.away.seriesNumber', 'teams.away.springLeague.id',
       'teams.away.springLeague.name', 'teams.away.springLeague.link',
       'teams.away.springLeague.abbreviation', 'teams.home.seriesNumber',
       'status.reason', 'description', 'teams.home.team.parentOrgName',
       'teams.home.team.parentOrgId', 'rescheduleDate',
       'rescheduleGameDate', 'rescheduledFrom', 'rescheduledFromDate',
       'resumeDate', 'resumeGameDate', 'resumedFrom', 'resumedFromDate',
       'teams.away.team.placeholder', 'teams.home.team.placeholder'],
      dtype=object)

In [7]:

played = reg.dropna(subset=['isTie']).copy() # filter to include only completed/current games
played_col_mapper = {'teams.home.team.abbreviation': 'team1', 'teams.away.team.abbreviation': 'team2', 
                     'teams.home.score': 'score1', 'teams.away.score': 'score2'}
played = played[played_col_mapper.keys()].rename(columns=played_col_mapper)
for col in ['score1', 'score2']:
    played[col] = played[col].astype(int)
played

       team1 team2  score1  score2
gamePk
718780   WSH   ATL       2       7
718781   NYY    SF       5       0
718782   BOS   BAL       9      10
718777   CHC   MIL       4       0
718776    TB   DET       4       0
...      ...   ...     ...     ...
716614   HOU   OAK       2       6
716609   COL   CHC       6       4
716606   SEA   LAA       8       0
716619    SF   CLE       1       3
716608   LAD    SD      11       2

[2139 rows x 4 columns]

In [8]:
remain_cols = {'teams.home.team.abbreviation': 'team1', 'teams.away.team.abbreviation': 'team2'}
remain = reg[~reg.index.isin(played.index)][remain_cols.keys()].rename(columns=remain_cols)
remain

       team1 team2
gamePk
716607   MIN    TB
716599   COL   CHC
716605    SF   CLE
716602   SEA   LAA
716600   PIT   WSH
...      ...   ...
716355   NYM   PHI
716356   CWS    SD
716352    KC   NYY
716364   MIL   CHC
716353   STL   CIN

[254 rows x 2 columns]

In [9]:
pd.Series(reg.index.isin(played.index)).value_counts()

True     2139
False     254
dtype: int64

In [10]:
reg.columns

Index(['gameGuid', 'link', 'gameType', 'season', 'gameDate', 'officialDate',
       'isTie', 'gameNumber', 'publicFacing', 'doubleHeader',
       ...
       'rescheduleDate', 'rescheduleGameDate', 'rescheduledFrom',
       'rescheduledFromDate', 'resumeDate', 'resumeGameDate', 'resumedFrom',
       'resumedFromDate', 'teams.away.team.placeholder',
       'teams.home.team.placeholder'],
      dtype='object', length=138)

In [11]:
all_gms['gameType'].value_counts()

R    2467
S     467
E      24
D      20
L      14
F      12
W       7
A       1
Name: gameType, dtype: int64

In [12]:
import datasource_mlb as ds

In [13]:
ds.get_ratings()

abbreviation
OAK    .317
PIT    .462
SD     .466
SEA    .552
SF     .510
STL    .441
TB     .610
TEX    .556
TOR    .552
MIN    .524
PHI    .545
ATL    .655
CWS    .386
MIA    .510
NYY    .503
MIL    .563
LAA    .466
AZ     .521
BAL    .632
BOS    .503
CHC    .534
CIN    .514
CLE    .473
COL    .361
DET    .458
HOU    .562
KC     .308
LAD    .611
WSH    .448
NYM    .458
Name: record.winningPercentage, dtype: object

In [14]:
ds.get_games()

(       team1 team2  score1  score2
 gamePk
 718780   WSH   ATL       2       7
 718781   NYY    SF       5       0
 718782   BOS   BAL       9      10
 718777   CHC   MIL       4       0
 718776    TB   DET       4       0
 ...      ...   ...     ...     ...
 716614   HOU   OAK       2       6
 716609   COL   CHC       6       4
 716606   SEA   LAA       8       0
 716619    SF   CLE       1       3
 716608   LAD    SD      11       2

 [2139 rows x 4 columns],
        team1 team2
 gamePk
 716607   MIN    TB
 716599   COL   CHC
 716605    SF   CLE
 716602   SEA   LAA
 716600   PIT   WSH
 ...      ...   ...
 716355   NYM   PHI
 716356   CWS    SD
 716352    KC   NYY
 716364   MIL   CHC
 716353   STL   CIN

 [254 rows x 2 columns])

In [15]:
import season_simulator as ss

In [16]:
ss.compute_standings(ds.get_games()[0])

       W    L      wpct
team
ATL   92   49  0.652482
BAL   89   53  0.626761
LAD   87   56  0.608392
TB    87   57  0.604167
HOU   82   63  0.565517
MIL   81   63  0.562500
TEX   80   64  0.555556
SEA   80   65  0.551724
PHI   77   63  0.550000
TOR   79   65  0.548611
CHC   77   68  0.531034
MIN   75   69  0.520833
CIN   73   68  0.517730
AZ    75   70  0.517241
BOS   72   69  0.510638
MIA   73   70  0.510490
SF    73   70  0.510490
NYY   70   70  0.500000
CLE   68   73  0.482270
SD    68   78  0.465753
LAA   67   77  0.465278
DET   63   73  0.463235
PIT   66   77  0.461538
NYM   62   75  0.452555
STL   64   79  0.447552
WSH   62   78  0.442857
CWS   55   86  0.390071
COL   52   92  0.361111
OAK   46   99  0.317241
KC    44  100  0.305556