In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
SCHEDULE_URL = 'https://statsapi.mlb.com/api/v1/schedule'
TEAMS_URL = 'https://statsapi.mlb.com/api/v1/teams'
params = {'sportId': 1, 'season': 2023}

In [3]:
teams_resp = requests.get(TEAMS_URL, params | {'hydrate': 'standings'}).json()
teams_df = pd.json_normalize(teams_resp['teams'])

teams_df

,allStarStatus,id,name,link,season,teamCode,fileCode,abbreviation,teamName,locationName,...,record.eliminationNumberDivision,record.eliminationNumberConference,record.wildCardEliminationNumber,record.wins,record.losses,record.runDifferential,record.winningPercentage,record.wildCardLeader,record.magicNumber,record.clinchIndicator
0,N,133,Oakland Athletics,/api/v1/teams/133,2023,oak,oak,OAK,Athletics,Oakland,...,E,62,E,46,100,-299,.315,NaN,NaN,NaN
1,N,134,Pittsburgh Pirates,/api/v1/teams/134,2023,pit,pit,PIT,Pirates,Pittsburgh,...,4,84,9,68,78,-89,.466,NaN,NaN,NaN
2,N,135,San Diego Padres,/api/v1/teams/135,2023,sdn,sd,SD,Padres,San Diego,...,E,84,9,69,78,60,.469,NaN,NaN,NaN
3,N,136,Seattle Mariners,/api/v1/teams/136,2023,sea,sea,SEA,Mariners,Seattle,...,15,97,-,81,65,104,.555,True,NaN,NaN
4,N,137,San Francisco Giants,/api/v1/teams/137,2023,sfn,sf,SF,Giants,San Francisco,...,4,91,16,75,71,-7,.514,NaN,NaN,NaN
5,N,138,St. Louis Cardinals,/api/v1/teams/138,2023,sln,stl,STL,Cardinals,St. Louis,...,1,81,6,65,81,-73,.445,NaN,NaN,NaN
6,N,139,Tampa Bay Rays,/api/v1/teams/139,2023,tba,tb,TB,Rays,St. Petersburg,...,15,105,-,90,57,198,.612,True,NaN,NaN
7,N,140,Texas Rangers,/api/v1/teams/140,2023,tex,tex,TEX,Rangers,Arlington,...,16,98,-,81,64,161,.559,True,NaN,NaN
8,N,141,Toronto Blue Jays,/api/v1/teams/141,2023,tor,tor,TOR,Blue Jays,Toronto,...,6,96,16,80,66,62,.548,NaN,NaN,NaN
9,N,142,Minnesota Twins,/api/v1/teams/142,2023,min,min,MIN,Twins,Minneapolis,...,-,92,-,76,70,71,.521,NaN,9,NaN
10,N,143,Philadelphia Phillies,/api/v1/teams/143,2023,phi,phi,PHI,Phillies,Philadelphia,...,E,95,-,79,67,67,.541,True,NaN,NaN
11,N,144,Atlanta Braves,/api/v1/teams/144,2023,atl,atl,ATL,Braves,Atlanta,...,-,-,-,96,50,242,.658,NaN,-,y
12,N,145,Chicago White Sox,/api/v1/teams/145,2023,cha,cws,CWS,White Sox,Chicago,...,E,72,E,56,90,-157,.384,NaN,NaN,NaN
13,N,146,Miami Marlins,/api/v1/teams/146,2023,mia,mia,MIA,Marlins,Miami,...,E,91,16,75,71,-58,.514,NaN,NaN,NaN
14,N,147,New York Yankees,/api/v1/teams/147,2023,nya,nyy,NYY,Yankees,Bronx,...,E,90,10,73,72,-15,.503,NaN,NaN,NaN
15,N,158,Milwaukee Brewers,/api/v1/teams/158,2023,mil,mil,MIL,Brewers,Milwaukee,...,-,98,-,81,64,48,.559,NaN,13,NaN
16,N,108,Los Angeles Angels,/api/v1/teams/108,2023,ana,ana,LAA,Angels,Anaheim,...,1,83,3,68,79,-72,.463,NaN,NaN,NaN
17,N,109,Arizona Diamondbacks,/api/v1/teams/109,2023,ari,ari,AZ,D-backs,Phoenix,...,4,91,-,76,71,-23,.517,True,NaN,NaN
18,N,110,Baltimore Orioles,/api/v1/teams/110,2023,bal,bal,BAL,Orioles,Baltimore,...,-,108,-,91,54,120,.628,NaN,15,NaN
19,N,111,Boston Red Sox,/api/v1/teams/111,2023,bos,bos,BOS,Red Sox,Boston,...,E,90,10,73,72,14,.503,NaN,NaN,NaN
20,N,112,Chicago Cubs,/api/v1/teams/112,2023,chn,chc,CHC,Cubs,Chicago,...,13,93,-,78,69,93,.531,True,NaN,NaN
21,N,113,Cincinnati Reds,/api/v1/teams/113,2023,cin,cin,CIN,Reds,Cincinnati,...,11,91,-,76,71,-35,.517,True,NaN,NaN
22,N,114,Cleveland Guardians,/api/v1/teams/114,2023,cle,cle,CLE,Guardians,Cleveland,...,9,84,4,69,78,-32,.469,NaN,NaN,NaN
23,N,115,Colorado Rockies,/api/v1/teams/115,2023,col,col,COL,Rockies,Denver,...,E,70,E,53,92,-217,.366,NaN,NaN,NaN
24,N,116,Detroit Tigers,/api/v1/teams/116,2023,det,det,DET,Tigers,Detroit,...,8,83,3,66,79,-114,.455,NaN,NaN,NaN
25,N,117,Houston Astros,/api/v1/teams/117,2023,hou,hou,HOU,Astros,Houston,...,-,98,-,83,64,121,.565,NaN,16,NaN
26,N,118,Kansas City Royals,/api/v1/teams/118,2023,kca,kc,KC,Royals,Kansas City,...,E,61,E,46,101,-184,.313,NaN,NaN,NaN
27,N,119,Los Angeles Dodgers,/api/v1/teams/119,2023,lan,la,LAD,Dodgers,Los Angeles,...,-,105,-,88,57,173,.607,NaN,4,NaN
28,N,120,Washington Nationals,/api/v1/teams/120,2023,was,was,WSH,Nationals,Washington,...,E,81,6,65,81,-130,.445,NaN,NaN,NaN
29,N,121,New York Mets,/api/v1/teams/121,2023,nyn,nym,NYM,Mets,Flushing,...,E,84,9,67,78,-29,.462,NaN,NaN,NaN

In [17]:
teams_df.columns

Index(['allStarStatus', 'id', 'name', 'link', 'season', 'teamCode', 'fileCode',
       'abbreviation', 'teamName', 'locationName', 'firstYearOfPlay',
       'shortName', 'franchiseName', 'clubName', 'active', 'springLeague.id',
       'springLeague.name', 'springLeague.link', 'springLeague.abbreviation',
       'venue.id', 'venue.name', 'venue.link', 'springVenue.id',
       'springVenue.link', 'league.id', 'league.name', 'league.link',
       'division.id', 'division.name', 'division.link', 'sport.id',
       'sport.link', 'sport.name', 'record.season', 'record.streak.streakType',
       'record.streak.streakNumber', 'record.streak.streakCode',
       'record.divisionRank', 'record.leagueRank', 'record.wildCardRank',
       'record.sportRank', 'record.gamesPlayed', 'record.gamesBack',
       'record.wildCardGamesBack', 'record.leagueGamesBack',
       'record.springLeagueGamesBack', 'record.sportGamesBack',
       'record.divisionGamesBack', 'record.conferenceGamesBack',
       'record.leagueRecord.wins', 'record.leagueRecord.losses',
       'record.leagueRecord.ties', 'record.leagueRecord.pct',
       'record.lastUpdated', 'record.records.splitRecords',
       'record.records.divisionRecords', 'record.records.overallRecords',
       'record.records.leagueRecords', 'record.records.expectedRecords',
       'record.runsAllowed', 'record.runsScored', 'record.divisionChamp',
       'record.divisionLeader', 'record.hasWildcard', 'record.clinched',
       'record.eliminationNumber', 'record.eliminationNumberSport',
       'record.eliminationNumberLeague', 'record.eliminationNumberDivision',
       'record.eliminationNumberConference',
       'record.wildCardEliminationNumber', 'record.wins', 'record.losses',
       'record.runDifferential', 'record.winningPercentage',
       'record.wildCardLeader', 'record.magicNumber',
       'record.clinchIndicator'],
      dtype='object')

In [19]:
teams_df[['record.records.expectedRecords', 'abbreviation']]

                       record.records.expectedRecords abbreviation
0   [{'wins': 45, 'losses': 101, 'type': 'xWinLoss...          OAK
1   [{'wins': 64, 'losses': 82, 'type': 'xWinLoss'...          PIT
2   [{'wins': 80, 'losses': 67, 'type': 'xWinLoss'...           SD
3   [{'wins': 84, 'losses': 62, 'type': 'xWinLoss'...          SEA
4   [{'wins': 72, 'losses': 74, 'type': 'xWinLoss'...           SF
5   [{'wins': 66, 'losses': 80, 'type': 'xWinLoss'...          STL
6   [{'wins': 93, 'losses': 54, 'type': 'xWinLoss'...           TB
7   [{'wins': 87, 'losses': 58, 'type': 'xWinLoss'...          TEX
8   [{'wins': 79, 'losses': 67, 'type': 'xWinLoss'...          TOR
9   [{'wins': 80, 'losses': 66, 'type': 'xWinLoss'...          MIN
10  [{'wins': 80, 'losses': 66, 'type': 'xWinLoss'...          PHI
11  [{'wins': 95, 'losses': 51, 'type': 'xWinLoss'...          ATL
12  [{'wins': 58, 'losses': 88, 'type': 'xWinLoss'...          CWS
13  [{'wins': 67, 'losses': 79, 'type': 'xWinLoss'...          MIA
14  [{'wins': 71, 'losses': 74, 'type': 'xWinLoss'...          NYY
15  [{'wins': 78, 'losses': 67, 'type': 'xWinLoss'...          MIL
16  [{'wins': 67, 'losses': 80, 'type': 'xWinLoss'...          LAA
17  [{'wins': 71, 'losses': 76, 'type': 'xWinLoss'...           AZ
18  [{'wins': 84, 'losses': 61, 'type': 'xWinLoss'...          BAL
19  [{'wins': 74, 'losses': 71, 'type': 'xWinLoss'...          BOS
20  [{'wins': 83, 'losses': 64, 'type': 'xWinLoss'...          CHC
21  [{'wins': 70, 'losses': 77, 'type': 'xWinLoss'...          CIN
22  [{'wins': 70, 'losses': 77, 'type': 'xWinLoss'...          CLE
23  [{'wins': 54, 'losses': 91, 'type': 'xWinLoss'...          COL
24  [{'wins': 61, 'losses': 84, 'type': 'xWinLoss'...          DET
25  [{'wins': 85, 'losses': 62, 'type': 'xWinLoss'...          HOU
26  [{'wins': 56, 'losses': 91, 'type': 'xWinLoss'...           KC
27  [{'wins': 88, 'losses': 57, 'type': 'xWinLoss'...          LAD
28  [{'wins': 61, 'losses': 85, 'type': 'xWinLoss'...          WSH
29  [{'wins': 70, 'losses': 75, 'type': 'xWinLoss'...          NYM

In [42]:
records = pd.json_normalize(teams_resp['teams'], 
                            record_path=['record', 'records', 'expectedRecords'], 
                            meta=['abbreviation', ['record', 'wins'], ['record', 'losses']]).query('type=="xWinLoss"')
records = records.rename(columns = {'abbreviation': 'team'}).set_index('team')
records

      wins  losses      type   pct record.wins record.losses
team
OAK     45     101  xWinLoss  .308          46           100
PIT     64      82  xWinLoss  .438          68            78
SD      80      67  xWinLoss  .544          69            78
SEA     84      62  xWinLoss  .575          81            65
SF      72      74  xWinLoss  .493          75            71
STL     66      80  xWinLoss  .452          65            81
TB      93      54  xWinLoss  .633          90            57
TEX     87      58  xWinLoss  .600          81            64
TOR     79      67  xWinLoss  .541          80            66
MIN     80      66  xWinLoss  .548          76            70
PHI     80      66  xWinLoss  .548          79            67
ATL     95      51  xWinLoss  .651          96            50
CWS     58      88  xWinLoss  .397          56            90
MIA     67      79  xWinLoss  .459          75            71
NYY     71      74  xWinLoss  .490          73            72
MIL     78      67  xWinLoss  .538          81            64
LAA     67      80  xWinLoss  .456          68            79
AZ      71      76  xWinLoss  .483          76            71
BAL     84      61  xWinLoss  .579          91            54
BOS     74      71  xWinLoss  .510          73            72
CHC     83      64  xWinLoss  .565          78            69
CIN     70      77  xWinLoss  .476          76            71
CLE     70      77  xWinLoss  .476          69            78
COL     54      91  xWinLoss  .372          53            92
DET     61      84  xWinLoss  .421          66            79
HOU     85      62  xWinLoss  .578          83            64
KC      56      91  xWinLoss  .381          46           101
LAD     88      57  xWinLoss  .607          88            57
WSH     61      85  xWinLoss  .418          65            81
NYM     70      75  xWinLoss  .483          67            78

In [45]:
comb_wins = records[['wins', 'record.wins']].mean(axis=1)
g = records[['wins', 'losses']].sum(axis=1)
regr_wpct = (comb_wins+35)/(g+70)
regr_wpct

team
OAK    0.372685
PIT    0.467593
SD     0.504608
SEA    0.543981
SF     0.502315
STL    0.465278
TB     0.582949
TEX    0.553488
TOR    0.530093
MIN    0.523148
PHI    0.530093
ATL    0.604167
CWS    0.425926
MIA    0.490741
NYY    0.497674
MIL    0.532558
LAA    0.472350
AZ     0.500000
BAL    0.569767
BOS    0.504651
CHC    0.532258
CIN    0.497696
CLE    0.481567
COL    0.411628
DET    0.458140
HOU    0.548387
KC     0.396313
LAD    0.572093
WSH    0.453704
NYM    0.481395
dtype: float64

In [34]:
pd.json_normalize(teams_df['record.records.expectedRecords'])

,0,1
0,"{'wins': 45, 'losses': 101, 'type': 'xWinLoss'...","{'wins': 50, 'losses': 112, 'type': 'xWinLossS..."
1,"{'wins': 64, 'losses': 82, 'type': 'xWinLoss',...","{'wins': 71, 'losses': 91, 'type': 'xWinLossSe..."
2,"{'wins': 80, 'losses': 67, 'type': 'xWinLoss',...","{'wins': 88, 'losses': 74, 'type': 'xWinLossSe..."
3,"{'wins': 84, 'losses': 62, 'type': 'xWinLoss',...","{'wins': 93, 'losses': 69, 'type': 'xWinLossSe..."
4,"{'wins': 72, 'losses': 74, 'type': 'xWinLoss',...","{'wins': 80, 'losses': 82, 'type': 'xWinLossSe..."
5,"{'wins': 66, 'losses': 80, 'type': 'xWinLoss',...","{'wins': 73, 'losses': 89, 'type': 'xWinLossSe..."
6,"{'wins': 93, 'losses': 54, 'type': 'xWinLoss',...","{'wins': 102, 'losses': 60, 'type': 'xWinLossS..."
7,"{'wins': 87, 'losses': 58, 'type': 'xWinLoss',...","{'wins': 97, 'losses': 65, 'type': 'xWinLossSe..."
8,"{'wins': 79, 'losses': 67, 'type': 'xWinLoss',...","{'wins': 88, 'losses': 74, 'type': 'xWinLossSe..."
9,"{'wins': 80, 'losses': 66, 'type': 'xWinLoss',...","{'wins': 89, 'losses': 73, 'type': 'xWinLossSe..."
10,"{'wins': 80, 'losses': 66, 'type': 'xWinLoss',...","{'wins': 88, 'losses': 74, 'type': 'xWinLossSe..."
11,"{'wins': 95, 'losses': 51, 'type': 'xWinLoss',...","{'wins': 105, 'losses': 57, 'type': 'xWinLossS..."
12,"{'wins': 58, 'losses': 88, 'type': 'xWinLoss',...","{'wins': 64, 'losses': 98, 'type': 'xWinLossSe..."
13,"{'wins': 67, 'losses': 79, 'type': 'xWinLoss',...","{'wins': 74, 'losses': 88, 'type': 'xWinLossSe..."
14,"{'wins': 71, 'losses': 74, 'type': 'xWinLoss',...","{'wins': 79, 'losses': 83, 'type': 'xWinLossSe..."
15,"{'wins': 78, 'losses': 67, 'type': 'xWinLoss',...","{'wins': 87, 'losses': 75, 'type': 'xWinLossSe..."
16,"{'wins': 67, 'losses': 80, 'type': 'xWinLoss',...","{'wins': 74, 'losses': 88, 'type': 'xWinLossSe..."
17,"{'wins': 71, 'losses': 76, 'type': 'xWinLoss',...","{'wins': 79, 'losses': 83, 'type': 'xWinLossSe..."
18,"{'wins': 84, 'losses': 61, 'type': 'xWinLoss',...","{'wins': 94, 'losses': 68, 'type': 'xWinLossSe..."
19,"{'wins': 74, 'losses': 71, 'type': 'xWinLoss',...","{'wins': 82, 'losses': 80, 'type': 'xWinLossSe..."
20,"{'wins': 83, 'losses': 64, 'type': 'xWinLoss',...","{'wins': 91, 'losses': 71, 'type': 'xWinLossSe..."
21,"{'wins': 70, 'losses': 77, 'type': 'xWinLoss',...","{'wins': 77, 'losses': 85, 'type': 'xWinLossSe..."
22,"{'wins': 70, 'losses': 77, 'type': 'xWinLoss',...","{'wins': 77, 'losses': 85, 'type': 'xWinLossSe..."
23,"{'wins': 54, 'losses': 91, 'type': 'xWinLoss',...","{'wins': 60, 'losses': 102, 'type': 'xWinLossS..."
24,"{'wins': 61, 'losses': 84, 'type': 'xWinLoss',...","{'wins': 68, 'losses': 94, 'type': 'xWinLossSe..."
25,"{'wins': 85, 'losses': 62, 'type': 'xWinLoss',...","{'wins': 94, 'losses': 68, 'type': 'xWinLossSe..."
26,"{'wins': 56, 'losses': 91, 'type': 'xWinLoss',...","{'wins': 62, 'losses': 100, 'type': 'xWinLossS..."
27,"{'wins': 88, 'losses': 57, 'type': 'xWinLoss',...","{'wins': 98, 'losses': 64, 'type': 'xWinLossSe..."
28,"{'wins': 61, 'losses': 85, 'type': 'xWinLoss',...","{'wins': 67, 'losses': 95, 'type': 'xWinLossSe..."
29,"{'wins': 70, 'losses': 75, 'type': 'xWinLoss',...","{'wins': 78, 'losses': 84, 'type': 'xWinLossSe..."

In [36]:
teams_df['record.records.expectedRecords'][0]

[{'wins': 45, 'losses': 101, 'type': 'xWinLoss', 'pct': '.308'},
 {'wins': 50, 'losses': 112, 'type': 'xWinLossSeason', 'pct': '.309'}]

In [4]:
ratings = teams_df.set_index('abbreviation')['record.winningPercentage']
ratings

abbreviation
OAK    .315
PIT    .466
SD     .469
SEA    .555
SF     .514
STL    .445
TB     .612
TEX    .559
TOR    .548
MIN    .521
PHI    .541
ATL    .658
CWS    .384
MIA    .514
NYY    .503
MIL    .559
LAA    .463
AZ     .517
BAL    .628
BOS    .503
CHC    .531
CIN    .517
CLE    .469
COL    .366
DET    .455
HOU    .565
KC     .313
LAD    .607
WSH    .445
NYM    .462
Name: record.winningPercentage, dtype: object

In [5]:
schedule_data = requests.get(SCHEDULE_URL, params | {'hydrate': 'team'}).json()
all_gms = pd.json_normalize(schedule_data['dates'], record_path=['games']).set_index('gamePk')
reg = all_gms.query('gameType=="R"')

# Remove the stubs of games that were rescheduled or suspended
remove = pd.concat([reg['resumeDate'].dropna(), reg['rescheduleDate'].dropna()]).index
reg = reg[~reg.index.isin(remove)]
reg

,gameGuid,link,gameType,season,gameDate,officialDate,isTie,gameNumber,publicFacing,doubleHeader,...,rescheduleDate,rescheduleGameDate,rescheduledFrom,rescheduledFromDate,resumeDate,resumeGameDate,resumedFrom,resumedFromDate,teams.away.team.placeholder,teams.home.team.placeholder
gamePk,,,,,,,,,,,,,,,,,,,,,
718780,28889d0d-b745-4054-b0d3-5fc4cfa06df9,/api/v1.1/game/718780/feed/live,R,2023,2023-03-30T17:05:00Z,2023-03-30,False,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718781,ff222b1e-8305-4b37-89a5-2e150e1a708f,/api/v1.1/game/718781/feed/live,R,2023,2023-03-30T17:05:00Z,2023-03-30,False,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718782,1f695ffe-1a00-41b0-b49e-49eba23de34b,/api/v1.1/game/718782/feed/live,R,2023,2023-03-30T18:10:00Z,2023-03-30,False,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718777,5c968a1a-e61e-42fa-8609-720a021e6c35,/api/v1.1/game/718777/feed/live,R,2023,2023-03-30T18:20:00Z,2023-03-30,False,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718776,a2bf6d6f-ec9e-44b3-9f37-9c4bfdc0969a,/api/v1.1/game/718776/feed/live,R,2023,2023-03-30T19:10:00Z,2023-03-30,False,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716355,5f6d16a1-ca5a-4499-accb-6b4bd5b83fff,/api/v1.1/game/716355/feed/live,R,2023,2023-10-01T19:10:00Z,2023-10-01,NaN,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716356,7cbab121-3edf-459a-bb68-e3ebd4d6ae87,/api/v1.1/game/716356/feed/live,R,2023,2023-10-01T19:10:00Z,2023-10-01,NaN,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716352,f4f42ab9-8d91-44e0-9fe5-4fa150005dac,/api/v1.1/game/716352/feed/live,R,2023,2023-10-01T19:10:00Z,2023-10-01,NaN,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716364,d6dfcdd2-03c3-4fa2-ad8d-5b8239ea35fb,/api/v1.1/game/716364/feed/live,R,2023,2023-10-01T19:10:00Z,2023-10-01,NaN,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716353,cd07873e-b75a-4902-a329-166537c5c032,/api/v1.1/game/716353/feed/live,R,2023,2023-10-01T19:15:00Z,2023-10-01,NaN,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
reg.columns.values

array(['gameGuid', 'link', 'gameType', 'season', 'gameDate',
       'officialDate', 'isTie', 'gameNumber', 'publicFacing',
       'doubleHeader', 'gamedayType', 'tiebreaker', 'calendarEventID',
       'seasonDisplay', 'dayNight', 'scheduledInnings',
       'reverseHomeAwayStatus', 'inningBreakLength', 'seriesDescription',
       'recordSource', 'ifNecessary', 'ifNecessaryDescription',
       'status.abstractGameState', 'status.codedGameState',
       'status.detailedState', 'status.statusCode', 'status.startTimeTBD',
       'status.abstractGameCode', 'teams.away.leagueRecord.wins',
       'teams.away.leagueRecord.losses', 'teams.away.leagueRecord.pct',
       'teams.away.score', 'teams.away.team.allStarStatus',
       'teams.away.team.id', 'teams.away.team.name',
       'teams.away.team.link', 'teams.away.team.season',
       'teams.away.team.venue.id', 'teams.away.team.venue.name',
       'teams.away.team.venue.link', 'teams.away.team.teamCode',
       'teams.away.team.fileCode', 'teams.away.team.abbreviation',
       'teams.away.team.teamName', 'teams.away.team.locationName',
       'teams.away.team.firstYearOfPlay', 'teams.away.team.league.id',
       'teams.away.team.league.name', 'teams.away.team.league.link',
       'teams.away.team.sport.id', 'teams.away.team.sport.link',
       'teams.away.team.sport.name', 'teams.away.team.shortName',
       'teams.away.team.parentOrgName', 'teams.away.team.parentOrgId',
       'teams.away.team.franchiseName', 'teams.away.team.clubName',
       'teams.away.team.active', 'teams.away.isWinner',
       'teams.away.splitSquad', 'teams.home.leagueRecord.wins',
       'teams.home.leagueRecord.losses', 'teams.home.leagueRecord.pct',
       'teams.home.score', 'teams.home.team.springLeague.id',
       'teams.home.team.springLeague.name',
       'teams.home.team.springLeague.link',
       'teams.home.team.springLeague.abbreviation',
       'teams.home.team.allStarStatus', 'teams.home.team.id',
       'teams.home.team.name', 'teams.home.team.link',
       'teams.home.team.season', 'teams.home.team.venue.id',
       'teams.home.team.venue.name', 'teams.home.team.venue.link',
       'teams.home.team.springVenue.id',
       'teams.home.team.springVenue.link', 'teams.home.team.teamCode',
       'teams.home.team.fileCode', 'teams.home.team.abbreviation',
       'teams.home.team.teamName', 'teams.home.team.locationName',
       'teams.home.team.firstYearOfPlay', 'teams.home.team.league.id',
       'teams.home.team.league.name', 'teams.home.team.league.link',
       'teams.home.team.division.id', 'teams.home.team.division.name',
       'teams.home.team.division.link', 'teams.home.team.sport.id',
       'teams.home.team.sport.link', 'teams.home.team.sport.name',
       'teams.home.team.shortName', 'teams.home.team.franchiseName',
       'teams.home.team.clubName', 'teams.home.team.active',
       'teams.home.isWinner', 'teams.home.splitSquad',
       'teams.home.springLeague.id', 'teams.home.springLeague.name',
       'teams.home.springLeague.link',
       'teams.home.springLeague.abbreviation', 'venue.id', 'venue.name',
       'venue.link', 'content.link', 'gamesInSeries', 'seriesGameNumber',
       'teams.away.team.springLeague.id',
       'teams.away.team.springLeague.name',
       'teams.away.team.springLeague.link',
       'teams.away.team.springLeague.abbreviation',
       'teams.away.team.springVenue.id',
       'teams.away.team.springVenue.link', 'teams.away.team.division.id',
       'teams.away.team.division.name', 'teams.away.team.division.link',
       'teams.away.seriesNumber', 'teams.away.springLeague.id',
       'teams.away.springLeague.name', 'teams.away.springLeague.link',
       'teams.away.springLeague.abbreviation', 'teams.home.seriesNumber',
       'status.reason', 'description', 'teams.home.team.parentOrgName',
       'teams.home.team.parentOrgId', 'rescheduleDate',
       'rescheduleGameDate', 'rescheduledFrom', 'rescheduledFromDate',
       'resumeDate', 'resumeGameDate', 'resumedFrom', 'resumedFromDate',
       'teams.away.team.placeholder', 'teams.home.team.placeholder'],
      dtype=object)

In [7]:

played = reg.dropna(subset=['isTie']).copy() # filter to include only completed/current games
played_col_mapper = {'teams.home.team.abbreviation': 'team1', 'teams.away.team.abbreviation': 'team2', 
                     'teams.home.score': 'score1', 'teams.away.score': 'score2'}
played = played[played_col_mapper.keys()].rename(columns=played_col_mapper)
for col in ['score1', 'score2']:
    played[col] = played[col].astype(int)
played

       team1 team2  score1  score2
gamePk
718780   WSH   ATL       2       7
718781   NYY    SF       5       0
718782   BOS   BAL       9      10
718777   CHC   MIL       4       0
718776    TB   DET       4       0
...      ...   ...     ...     ...
716595   NYM    AZ       7       1
716596   HOU   OAK       6       2
716598   CWS    KC       1       7
716592   MIL   MIA       0       2
716589   LAD    SD       1       6

[2153 rows x 4 columns]

In [8]:
remain_cols = {'teams.home.team.abbreviation': 'team1', 'teams.away.team.abbreviation': 'team2'}
remain = reg[~reg.index.isin(played.index)][remain_cols.keys()].rename(columns=remain_cols)
remain

       team1 team2
gamePk
716591   PIT   WSH
716584   DET   CIN
716593   BOS   NYY
716585   MIL   MIA
716588   NYM    AZ
...      ...   ...
716355   NYM   PHI
716356   CWS    SD
716352    KC   NYY
716364   MIL   CHC
716353   STL   CIN

[239 rows x 2 columns]

In [9]:
pd.Series(reg.index.isin(played.index)).value_counts()

True     2153
False     239
dtype: int64

In [10]:
reg.columns

Index(['gameGuid', 'link', 'gameType', 'season', 'gameDate', 'officialDate',
       'isTie', 'gameNumber', 'publicFacing', 'doubleHeader',
       ...
       'rescheduleDate', 'rescheduleGameDate', 'rescheduledFrom',
       'rescheduledFromDate', 'resumeDate', 'resumeGameDate', 'resumedFrom',
       'resumedFromDate', 'teams.away.team.placeholder',
       'teams.home.team.placeholder'],
      dtype='object', length=138)

In [11]:
all_gms['gameType'].value_counts()

R    2468
S     467
E      24
D      20
L      14
F      12
W       7
A       1
Name: gameType, dtype: int64

In [1]:
import datasource_mlb as ds

In [3]:
ds.get_ratings().sort_values()

team
OAK    1410.115741
KC     1426.797235
COL    1437.609302
CWS    1447.703704
WSH    1467.314815
DET    1470.446512
STL    1475.486111
PIT    1477.120370
LAA    1480.479263
NYM    1486.865116
CLE    1486.986175
MIA    1493.462963
NYY    1498.358140
CIN    1498.373272
AZ     1500.000000
SF     1501.634259
SD     1503.253456
BOS    1503.283721
MIN    1516.342593
TOR    1521.245370
PHI    1521.245370
CHC    1522.774194
MIL    1522.986047
SEA    1531.050926
HOU    1534.161290
TEX    1537.762791
BAL    1549.255814
LAD    1550.897674
TB     1558.562212
ATL    1573.541667
Name: rating, dtype: float64

In [14]:
ds.get_games()

(       team1 team2  score1  score2
 gamePk
 718780   WSH   ATL       2       7
 718781   NYY    SF       5       0
 718782   BOS   BAL       9      10
 718777   CHC   MIL       4       0
 718776    TB   DET       4       0
 ...      ...   ...     ...     ...
 716595   NYM    AZ       7       1
 716596   HOU   OAK       6       2
 716598   CWS    KC       1       7
 716592   MIL   MIA       0       2
 716589   LAD    SD       1       6

 [2153 rows x 4 columns],
        team1 team2
 gamePk
 716591   PIT   WSH
 716584   DET   CIN
 716593   BOS   NYY
 716585   MIL   MIA
 716588   NYM    AZ
 ...      ...   ...
 716355   NYM   PHI
 716356   CWS    SD
 716352    KC   NYY
 716364   MIL   CHC
 716353   STL   CIN

 [239 rows x 2 columns])

In [15]:
import season_simulator as ss

In [16]:
ss.compute_standings(ds.get_games()[0])

       W    L      wpct
team
ATL   93   49  0.654930
BAL   89   54  0.622378
TB    88   57  0.606897
LAD   87   57  0.604167
HOU   83   63  0.568493
MIL   81   64  0.558621
TEX   81   64  0.558621
SEA   81   65  0.554795
PHI   77   64  0.546099
TOR   79   66  0.544828
CHC   77   69  0.527397
CIN   74   68  0.521127
MIN   75   70  0.517241
SF    74   70  0.513889
MIA   74   70  0.513889
AZ    75   71  0.513699
BOS   72   69  0.510638
NYY   70   70  0.500000
CLE   68   74  0.478873
SD    69   78  0.469388
PIT   67   77  0.465278
LAA   67   78  0.462069
DET   63   74  0.459854
NYM   63   75  0.456522
STL   65   79  0.451389
WSH   62   79  0.439716
CWS   55   87  0.387324
COL   53   92  0.365517
OAK   46  100  0.315068
KC    45  100  0.310345