In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
SCHEDULE_URL = 'https://statsapi.mlb.com/api/v1/schedule'
TEAMS_URL = 'https://statsapi.mlb.com/api/v1/teams'
params = {'sportId': 1, 'season': 2023}

In [3]:
teams_resp = requests.get(TEAMS_URL, params | {'hydrate': 'standings'}).json()
teams_df = pd.json_normalize(teams_resp['teams'])

teams_df

,allStarStatus,id,name,link,season,teamCode,fileCode,abbreviation,teamName,locationName,...,record.eliminationNumberDivision,record.eliminationNumberConference,record.wildCardEliminationNumber,record.wins,record.losses,record.runDifferential,record.winningPercentage,record.wildCardLeader,record.clinchIndicator,record.magicNumber
0,N,133,Oakland Athletics,/api/v1/teams/133,2023,oak,oak,OAK,Athletics,Oakland,...,E,58,E,46,104,-321,.307,NaN,NaN,NaN
1,N,134,Pittsburgh Pirates,/api/v1/teams/134,2023,pit,pit,PIT,Pirates,Pittsburgh,...,E,82,4,70,80,-91,.467,NaN,NaN,NaN
2,N,135,San Diego Padres,/api/v1/teams/135,2023,sdn,sd,SD,Padres,San Diego,...,E,84,6,73,78,79,.483,NaN,NaN,NaN
3,N,136,Seattle Mariners,/api/v1/teams/136,2023,sea,sea,SEA,Mariners,Seattle,...,11,94,-,82,68,97,.547,True,NaN,NaN
4,N,137,San Francisco Giants,/api/v1/teams/137,2023,sfn,sf,SF,Giants,San Francisco,...,E,88,10,76,74,-14,.507,NaN,NaN,NaN
5,N,138,St. Louis Cardinals,/api/v1/teams/138,2023,sln,stl,STL,Cardinals,St. Louis,...,E,79,1,67,83,-77,.447,NaN,NaN,NaN
6,N,139,Tampa Bay Rays,/api/v1/teams/139,2023,tba,tb,TB,Rays,St. Petersburg,...,10,103,-,92,59,196,.609,True,x,NaN
7,N,140,Texas Rangers,/api/v1/teams/140,2023,tex,tex,TEX,Rangers,Arlington,...,11,94,-,82,68,149,.547,True,NaN,NaN
8,N,141,Toronto Blue Jays,/api/v1/teams/141,2023,tor,tor,TOR,Blue Jays,Toronto,...,2,95,-,83,67,60,.553,True,NaN,NaN
9,N,142,Minnesota Twins,/api/v1/teams/142,2023,min,min,MIN,Twins,Minneapolis,...,-,90,-,79,72,86,.523,NaN,NaN,5
10,N,143,Philadelphia Phillies,/api/v1/teams/143,2023,phi,phi,PHI,Phillies,Philadelphia,...,E,94,-,82,68,78,.547,True,NaN,NaN
11,N,144,Atlanta Braves,/api/v1/teams/144,2023,atl,atl,ATL,Braves,Atlanta,...,-,-,-,96,54,213,.640,NaN,y,-
12,N,145,Chicago White Sox,/api/v1/teams/145,2023,cha,cws,CWS,White Sox,Chicago,...,E,69,E,58,93,-171,.384,NaN,NaN,NaN
13,N,146,Miami Marlins,/api/v1/teams/146,2023,mia,mia,MIA,Marlins,Miami,...,E,89,11,78,73,-38,.517,NaN,NaN,NaN
14,N,147,New York Yankees,/api/v1/teams/147,2023,nya,nyy,NYY,Yankees,Bronx,...,E,88,7,76,74,-13,.507,NaN,NaN,NaN
15,N,158,Milwaukee Brewers,/api/v1/teams/158,2023,mil,mil,MIL,Brewers,Milwaukee,...,-,96,-,84,66,54,.560,NaN,NaN,7
16,N,108,Los Angeles Angels,/api/v1/teams/108,2023,ana,ana,LAA,Angels,Anaheim,...,E,80,E,68,82,-84,.453,NaN,NaN,NaN
17,N,109,Arizona Diamondbacks,/api/v1/teams/109,2023,ari,ari,AZ,D-backs,Phoenix,...,E,90,-,79,72,-26,.523,True,NaN,NaN
18,N,110,Baltimore Orioles,/api/v1/teams/110,2023,bal,bal,BAL,Orioles,Baltimore,...,-,106,-,94,56,123,.627,NaN,x,-
19,N,111,Boston Red Sox,/api/v1/teams/111,2023,bos,bos,BOS,Red Sox,Boston,...,E,86,5,75,76,13,.497,NaN,NaN,NaN
20,N,112,Chicago Cubs,/api/v1/teams/112,2023,chn,chc,CHC,Cubs,Chicago,...,7,90,-,78,72,86,.520,True,NaN,NaN
21,N,113,Cincinnati Reds,/api/v1/teams/113,2023,cin,cin,CIN,Reds,Cincinnati,...,6,89,-,79,73,-38,.520,NaN,NaN,NaN
22,N,114,Cleveland Guardians,/api/v1/teams/114,2023,cle,cle,CLE,Guardians,Cleveland,...,5,83,2,72,79,-17,.477,NaN,NaN,NaN
23,N,115,Colorado Rockies,/api/v1/teams/115,2023,col,col,COL,Rockies,Denver,...,E,68,E,56,94,-212,.373,NaN,NaN,NaN
24,N,116,Detroit Tigers,/api/v1/teams/116,2023,det,det,DET,Tigers,Detroit,...,4,82,1,70,80,-101,.467,NaN,NaN,NaN
25,N,117,Houston Astros,/api/v1/teams/117,2023,hou,hou,HOU,Astros,Houston,...,-,95,-,84,67,122,.556,NaN,NaN,11
26,N,118,Kansas City Royals,/api/v1/teams/118,2023,kca,kc,KC,Royals,Kansas City,...,E,60,E,49,102,-184,.325,NaN,NaN,NaN
27,N,119,Los Angeles Dodgers,/api/v1/teams/119,2023,lan,la,LAD,Dodgers,Los Angeles,...,-,105,-,92,57,190,.617,NaN,y,-
28,N,120,Washington Nationals,/api/v1/teams/120,2023,was,was,WSH,Nationals,Washington,...,E,77,E,66,85,-142,.437,NaN,NaN,NaN
29,N,121,New York Mets,/api/v1/teams/121,2023,nyn,nym,NYM,Mets,Flushing,...,E,82,4,70,80,-17,.467,NaN,NaN,NaN

In [4]:
teams_df.columns

Index(['allStarStatus', 'id', 'name', 'link', 'season', 'teamCode', 'fileCode',
       'abbreviation', 'teamName', 'locationName', 'firstYearOfPlay',
       'shortName', 'franchiseName', 'clubName', 'active', 'springLeague.id',
       'springLeague.name', 'springLeague.link', 'springLeague.abbreviation',
       'venue.id', 'venue.name', 'venue.link', 'springVenue.id',
       'springVenue.link', 'league.id', 'league.name', 'league.link',
       'division.id', 'division.name', 'division.link', 'sport.id',
       'sport.link', 'sport.name', 'record.season', 'record.streak.streakType',
       'record.streak.streakNumber', 'record.streak.streakCode',
       'record.divisionRank', 'record.leagueRank', 'record.wildCardRank',
       'record.sportRank', 'record.gamesPlayed', 'record.gamesBack',
       'record.wildCardGamesBack', 'record.leagueGamesBack',
       'record.springLeagueGamesBack', 'record.sportGamesBack',
       'record.divisionGamesBack', 'record.conferenceGamesBack',
       'record.leagueRecord.wins', 'record.leagueRecord.losses',
       'record.leagueRecord.ties', 'record.leagueRecord.pct',
       'record.lastUpdated', 'record.records.splitRecords',
       'record.records.divisionRecords', 'record.records.overallRecords',
       'record.records.leagueRecords', 'record.records.expectedRecords',
       'record.runsAllowed', 'record.runsScored', 'record.divisionChamp',
       'record.divisionLeader', 'record.hasWildcard', 'record.clinched',
       'record.eliminationNumber', 'record.eliminationNumberSport',
       'record.eliminationNumberLeague', 'record.eliminationNumberDivision',
       'record.eliminationNumberConference',
       'record.wildCardEliminationNumber', 'record.wins', 'record.losses',
       'record.runDifferential', 'record.winningPercentage',
       'record.wildCardLeader', 'record.clinchIndicator',
       'record.magicNumber'],
      dtype='object')

In [5]:
teams_df[['record.records.expectedRecords', 'abbreviation']]

                       record.records.expectedRecords abbreviation
0   [{'wins': 45, 'losses': 105, 'type': 'xWinLoss...          OAK
1   [{'wins': 66, 'losses': 84, 'type': 'xWinLoss'...          PIT
2   [{'wins': 84, 'losses': 67, 'type': 'xWinLoss'...           SD
3   [{'wins': 85, 'losses': 65, 'type': 'xWinLoss'...          SEA
4   [{'wins': 74, 'losses': 76, 'type': 'xWinLoss'...           SF
5   [{'wins': 68, 'losses': 82, 'type': 'xWinLoss'...          STL
6   [{'wins': 95, 'losses': 56, 'type': 'xWinLoss'...           TB
7   [{'wins': 89, 'losses': 61, 'type': 'xWinLoss'...          TEX
8   [{'wins': 81, 'losses': 69, 'type': 'xWinLoss'...          TOR
9   [{'wins': 84, 'losses': 67, 'type': 'xWinLoss'...          MIN
10  [{'wins': 83, 'losses': 67, 'type': 'xWinLoss'...          PHI
11  [{'wins': 94, 'losses': 56, 'type': 'xWinLoss'...          ATL
12  [{'wins': 59, 'losses': 92, 'type': 'xWinLoss'...          CWS
13  [{'wins': 71, 'losses': 80, 'type': 'xWinLoss'...          MIA
14  [{'wins': 74, 'losses': 76, 'type': 'xWinLoss'...          NYY
15  [{'wins': 81, 'losses': 69, 'type': 'xWinLoss'...          MIL
16  [{'wins': 67, 'losses': 83, 'type': 'xWinLoss'...          LAA
17  [{'wins': 73, 'losses': 78, 'type': 'xWinLoss'...           AZ
18  [{'wins': 87, 'losses': 63, 'type': 'xWinLoss'...          BAL
19  [{'wins': 77, 'losses': 74, 'type': 'xWinLoss'...          BOS
20  [{'wins': 83, 'losses': 67, 'type': 'xWinLoss'...          CHC
21  [{'wins': 72, 'losses': 80, 'type': 'xWinLoss'...          CIN
22  [{'wins': 74, 'losses': 77, 'type': 'xWinLoss'...          CLE
23  [{'wins': 57, 'losses': 93, 'type': 'xWinLoss'...          COL
24  [{'wins': 64, 'losses': 86, 'type': 'xWinLoss'...          DET
25  [{'wins': 87, 'losses': 64, 'type': 'xWinLoss'...          HOU
26  [{'wins': 58, 'losses': 93, 'type': 'xWinLoss'...           KC
27  [{'wins': 92, 'losses': 57, 'type': 'xWinLoss'...          LAD
28  [{'wins': 62, 'losses': 89, 'type': 'xWinLoss'...          WSH
29  [{'wins': 73, 'losses': 77, 'type': 'xWinLoss'...          NYM

In [6]:
records = pd.json_normalize(teams_resp['teams'], 
                            record_path=['record', 'records', 'expectedRecords'], 
                            meta=['abbreviation', ['record', 'wins'], ['record', 'losses']]).query('type=="xWinLoss"')
records = records.rename(columns = {'abbreviation': 'team'}).set_index('team')
records

      wins  losses      type   pct record.wins record.losses
team
OAK     45     105  xWinLoss  .300          46           104
PIT     66      84  xWinLoss  .440          70            80
SD      84      67  xWinLoss  .556          73            78
SEA     85      65  xWinLoss  .567          82            68
SF      74      76  xWinLoss  .493          76            74
STL     68      82  xWinLoss  .453          67            83
TB      95      56  xWinLoss  .629          92            59
TEX     89      61  xWinLoss  .593          82            68
TOR     81      69  xWinLoss  .540          83            67
MIN     84      67  xWinLoss  .556          79            72
PHI     83      67  xWinLoss  .553          82            68
ATL     94      56  xWinLoss  .627          96            54
CWS     59      92  xWinLoss  .391          58            93
MIA     71      80  xWinLoss  .470          78            73
NYY     74      76  xWinLoss  .493          76            74
MIL     81      69  xWinLoss  .540          84            66
LAA     67      83  xWinLoss  .447          68            82
AZ      73      78  xWinLoss  .483          79            72
BAL     87      63  xWinLoss  .580          94            56
BOS     77      74  xWinLoss  .510          75            76
CHC     83      67  xWinLoss  .553          78            72
CIN     72      80  xWinLoss  .474          79            73
CLE     74      77  xWinLoss  .490          72            79
COL     57      93  xWinLoss  .380          56            94
DET     64      86  xWinLoss  .427          70            80
HOU     87      64  xWinLoss  .576          84            67
KC      58      93  xWinLoss  .384          49           102
LAD     92      57  xWinLoss  .617          92            57
WSH     62      89  xWinLoss  .411          66            85
NYM     73      77  xWinLoss  .487          70            80

In [7]:
comb_wins = records[['wins', 'record.wins']].mean(axis=1)
g = records[['wins', 'losses']].sum(axis=1)
regr_wpct = (comb_wins+35)/(g+70)
regr_wpct

team
OAK    0.365909
PIT    0.468182
SD     0.513575
SEA    0.538636
SF     0.500000
STL    0.465909
TB     0.581448
TEX    0.547727
TOR    0.531818
MIN    0.527149
PHI    0.534091
ATL    0.590909
CWS    0.423077
MIA    0.495475
NYY    0.500000
MIL    0.534091
LAA    0.465909
AZ     0.502262
BAL    0.570455
BOS    0.502262
CHC    0.525000
CIN    0.497748
CLE    0.488688
COL    0.415909
DET    0.463636
HOU    0.545249
KC     0.400452
LAD    0.579909
WSH    0.447964
NYM    0.484091
dtype: float64

In [8]:
pd.json_normalize(teams_df['record.records.expectedRecords'])

,0,1
0,"{'wins': 45, 'losses': 105, 'type': 'xWinLoss'...","{'wins': 49, 'losses': 113, 'type': 'xWinLossS..."
1,"{'wins': 66, 'losses': 84, 'type': 'xWinLoss',...","{'wins': 71, 'losses': 91, 'type': 'xWinLossSe..."
2,"{'wins': 84, 'losses': 67, 'type': 'xWinLoss',...","{'wins': 90, 'losses': 72, 'type': 'xWinLossSe..."
3,"{'wins': 85, 'losses': 65, 'type': 'xWinLoss',...","{'wins': 92, 'losses': 70, 'type': 'xWinLossSe..."
4,"{'wins': 74, 'losses': 76, 'type': 'xWinLoss',...","{'wins': 79, 'losses': 83, 'type': 'xWinLossSe..."
5,"{'wins': 68, 'losses': 82, 'type': 'xWinLoss',...","{'wins': 73, 'losses': 89, 'type': 'xWinLossSe..."
6,"{'wins': 95, 'losses': 56, 'type': 'xWinLoss',...","{'wins': 102, 'losses': 60, 'type': 'xWinLossS..."
7,"{'wins': 89, 'losses': 61, 'type': 'xWinLoss',...","{'wins': 96, 'losses': 66, 'type': 'xWinLossSe..."
8,"{'wins': 81, 'losses': 69, 'type': 'xWinLoss',...","{'wins': 88, 'losses': 74, 'type': 'xWinLossSe..."
9,"{'wins': 84, 'losses': 67, 'type': 'xWinLoss',...","{'wins': 91, 'losses': 71, 'type': 'xWinLossSe..."
10,"{'wins': 83, 'losses': 67, 'type': 'xWinLoss',...","{'wins': 89, 'losses': 73, 'type': 'xWinLossSe..."
11,"{'wins': 94, 'losses': 56, 'type': 'xWinLoss',...","{'wins': 101, 'losses': 61, 'type': 'xWinLossS..."
12,"{'wins': 59, 'losses': 92, 'type': 'xWinLoss',...","{'wins': 63, 'losses': 99, 'type': 'xWinLossSe..."
13,"{'wins': 71, 'losses': 80, 'type': 'xWinLoss',...","{'wins': 77, 'losses': 85, 'type': 'xWinLossSe..."
14,"{'wins': 74, 'losses': 76, 'type': 'xWinLoss',...","{'wins': 79, 'losses': 83, 'type': 'xWinLossSe..."
15,"{'wins': 81, 'losses': 69, 'type': 'xWinLoss',...","{'wins': 87, 'losses': 75, 'type': 'xWinLossSe..."
16,"{'wins': 67, 'losses': 83, 'type': 'xWinLoss',...","{'wins': 73, 'losses': 89, 'type': 'xWinLossSe..."
17,"{'wins': 73, 'losses': 78, 'type': 'xWinLoss',...","{'wins': 78, 'losses': 84, 'type': 'xWinLossSe..."
18,"{'wins': 87, 'losses': 63, 'type': 'xWinLoss',...","{'wins': 94, 'losses': 68, 'type': 'xWinLossSe..."
19,"{'wins': 77, 'losses': 74, 'type': 'xWinLoss',...","{'wins': 82, 'losses': 80, 'type': 'xWinLossSe..."
20,"{'wins': 83, 'losses': 67, 'type': 'xWinLoss',...","{'wins': 90, 'losses': 72, 'type': 'xWinLossSe..."
21,"{'wins': 72, 'losses': 80, 'type': 'xWinLoss',...","{'wins': 77, 'losses': 85, 'type': 'xWinLossSe..."
22,"{'wins': 74, 'losses': 77, 'type': 'xWinLoss',...","{'wins': 79, 'losses': 83, 'type': 'xWinLossSe..."
23,"{'wins': 57, 'losses': 93, 'type': 'xWinLoss',...","{'wins': 61, 'losses': 101, 'type': 'xWinLossS..."
24,"{'wins': 64, 'losses': 86, 'type': 'xWinLoss',...","{'wins': 70, 'losses': 92, 'type': 'xWinLossSe..."
25,"{'wins': 87, 'losses': 64, 'type': 'xWinLoss',...","{'wins': 93, 'losses': 69, 'type': 'xWinLossSe..."
26,"{'wins': 58, 'losses': 93, 'type': 'xWinLoss',...","{'wins': 62, 'losses': 100, 'type': 'xWinLossS..."
27,"{'wins': 92, 'losses': 57, 'type': 'xWinLoss',...","{'wins': 100, 'losses': 62, 'type': 'xWinLossS..."
28,"{'wins': 62, 'losses': 89, 'type': 'xWinLoss',...","{'wins': 66, 'losses': 96, 'type': 'xWinLossSe..."
29,"{'wins': 73, 'losses': 77, 'type': 'xWinLoss',...","{'wins': 79, 'losses': 83, 'type': 'xWinLossSe..."

In [9]:
teams_df['record.records.expectedRecords'][0]

[{'wins': 45, 'losses': 105, 'type': 'xWinLoss', 'pct': '.300'},
 {'wins': 49, 'losses': 113, 'type': 'xWinLossSeason', 'pct': '.302'}]

In [10]:
ratings = teams_df.set_index('abbreviation')['record.winningPercentage']
ratings

abbreviation
OAK    .307
PIT    .467
SD     .483
SEA    .547
SF     .507
STL    .447
TB     .609
TEX    .547
TOR    .553
MIN    .523
PHI    .547
ATL    .640
CWS    .384
MIA    .517
NYY    .507
MIL    .560
LAA    .453
AZ     .523
BAL    .627
BOS    .497
CHC    .520
CIN    .520
CLE    .477
COL    .373
DET    .467
HOU    .556
KC     .325
LAD    .617
WSH    .437
NYM    .467
Name: record.winningPercentage, dtype: object

In [24]:
# Get the MLB schedule from the MLB stats API
schedule_data = requests.get(SCHEDULE_URL, params | {'hydrate': 'team'}).json()
all_gms = pd.json_normalize(schedule_data['dates'], record_path=['games']).set_index('gamePk')
reg = all_gms.query('gameType=="R"')

# Remove the stubs of games that were rescheduled or suspended
reg = reg.loc[reg.fillna(0).query('resumeDate==0 and rescheduleDate==0').index]
reg

,gameGuid,link,gameType,season,gameDate,officialDate,isTie,gameNumber,publicFacing,doubleHeader,...,rescheduleDate,rescheduleGameDate,rescheduledFrom,rescheduledFromDate,resumeDate,resumeGameDate,resumedFrom,resumedFromDate,teams.away.team.placeholder,teams.home.team.placeholder
gamePk,,,,,,,,,,,,,,,,,,,,,
718780,28889d0d-b745-4054-b0d3-5fc4cfa06df9,/api/v1.1/game/718780/feed/live,R,2023,2023-03-30T17:05:00Z,2023-03-30,False,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718781,ff222b1e-8305-4b37-89a5-2e150e1a708f,/api/v1.1/game/718781/feed/live,R,2023,2023-03-30T17:05:00Z,2023-03-30,False,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718782,1f695ffe-1a00-41b0-b49e-49eba23de34b,/api/v1.1/game/718782/feed/live,R,2023,2023-03-30T18:10:00Z,2023-03-30,False,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718777,5c968a1a-e61e-42fa-8609-720a021e6c35,/api/v1.1/game/718777/feed/live,R,2023,2023-03-30T18:20:00Z,2023-03-30,False,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718776,a2bf6d6f-ec9e-44b3-9f37-9c4bfdc0969a,/api/v1.1/game/718776/feed/live,R,2023,2023-03-30T19:10:00Z,2023-03-30,False,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716355,5f6d16a1-ca5a-4499-accb-6b4bd5b83fff,/api/v1.1/game/716355/feed/live,R,2023,2023-10-01T19:10:00Z,2023-10-01,NaN,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716356,7cbab121-3edf-459a-bb68-e3ebd4d6ae87,/api/v1.1/game/716356/feed/live,R,2023,2023-10-01T19:10:00Z,2023-10-01,NaN,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716352,f4f42ab9-8d91-44e0-9fe5-4fa150005dac,/api/v1.1/game/716352/feed/live,R,2023,2023-10-01T19:10:00Z,2023-10-01,NaN,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716364,d6dfcdd2-03c3-4fa2-ad8d-5b8239ea35fb,/api/v1.1/game/716364/feed/live,R,2023,2023-10-01T19:10:00Z,2023-10-01,NaN,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716353,cd07873e-b75a-4902-a329-166537c5c032,/api/v1.1/game/716353/feed/live,R,2023,2023-10-01T19:15:00Z,2023-10-01,NaN,1,True,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:

# Split out the games that have been played vs those remaining
played_col_mapper = {'teams.home.team.abbreviation': 'team1', 'teams.away.team.abbreviation': 'team2', 
                    'teams.home.score': 'score1', 'teams.away.score': 'score2'}
played = reg.dropna(subset=['isTie']).copy() # filter to include only completed/current games
played = played[played_col_mapper.keys()].rename(columns=played_col_mapper)
for col in ['score1', 'score2']:
    played[col] = played[col].astype(int)
played

       team1 team2  score1  score2
gamePk
718780   WSH   ATL       2       7
718781   NYY    SF       5       0
718782   BOS   BAL       9      10
718777   CHC   MIL       4       0
718776    TB   DET       4       0
...      ...   ...     ...     ...
716533   TEX   BOS       2       4
716530   HOU   BAL       7       8
716526    SD   COL      11       9
716527   OAK   SEA       0       5
716528   LAD   DET       8       3

[2261 rows x 4 columns]

In [27]:

remain_cols = {'teams.home.team.abbreviation': 'team1', 'teams.away.team.abbreviation': 'team2'}
remain = reg[~reg.index.isin(played.index)][remain_cols.keys()].rename(columns=remain_cols)
remain

       team1 team2
gamePk
716524    TB   LAA
716522   CIN   MIN
716523   MIA   NYM
716525   WSH   CWS
716520   NYY   TOR
...      ...   ...
716355   NYM   PHI
716356   CWS    SD
716352    KC   NYY
716364   MIL   CHC
716353   STL   CIN

[174 rows x 2 columns]

In [12]:
reg.columns.values

array(['gameGuid', 'link', 'gameType', 'season', 'gameDate',
       'officialDate', 'isTie', 'gameNumber', 'publicFacing',
       'doubleHeader', 'gamedayType', 'tiebreaker', 'calendarEventID',
       'seasonDisplay', 'dayNight', 'scheduledInnings',
       'reverseHomeAwayStatus', 'inningBreakLength', 'seriesDescription',
       'recordSource', 'ifNecessary', 'ifNecessaryDescription',
       'status.abstractGameState', 'status.codedGameState',
       'status.detailedState', 'status.statusCode', 'status.startTimeTBD',
       'status.abstractGameCode', 'teams.away.leagueRecord.wins',
       'teams.away.leagueRecord.losses', 'teams.away.leagueRecord.pct',
       'teams.away.score', 'teams.away.team.allStarStatus',
       'teams.away.team.id', 'teams.away.team.name',
       'teams.away.team.link', 'teams.away.team.season',
       'teams.away.team.venue.id', 'teams.away.team.venue.name',
       'teams.away.team.venue.link', 'teams.away.team.teamCode',
       'teams.away.team.fileCode', 'teams.away.team.abbreviation',
       'teams.away.team.teamName', 'teams.away.team.locationName',
       'teams.away.team.firstYearOfPlay', 'teams.away.team.league.id',
       'teams.away.team.league.name', 'teams.away.team.league.link',
       'teams.away.team.sport.id', 'teams.away.team.sport.link',
       'teams.away.team.sport.name', 'teams.away.team.shortName',
       'teams.away.team.parentOrgName', 'teams.away.team.parentOrgId',
       'teams.away.team.franchiseName', 'teams.away.team.clubName',
       'teams.away.team.active', 'teams.away.isWinner',
       'teams.away.splitSquad', 'teams.home.leagueRecord.wins',
       'teams.home.leagueRecord.losses', 'teams.home.leagueRecord.pct',
       'teams.home.score', 'teams.home.team.springLeague.id',
       'teams.home.team.springLeague.name',
       'teams.home.team.springLeague.link',
       'teams.home.team.springLeague.abbreviation',
       'teams.home.team.allStarStatus', 'teams.home.team.id',
       'teams.home.team.name', 'teams.home.team.link',
       'teams.home.team.season', 'teams.home.team.venue.id',
       'teams.home.team.venue.name', 'teams.home.team.venue.link',
       'teams.home.team.springVenue.id',
       'teams.home.team.springVenue.link', 'teams.home.team.teamCode',
       'teams.home.team.fileCode', 'teams.home.team.abbreviation',
       'teams.home.team.teamName', 'teams.home.team.locationName',
       'teams.home.team.firstYearOfPlay', 'teams.home.team.league.id',
       'teams.home.team.league.name', 'teams.home.team.league.link',
       'teams.home.team.division.id', 'teams.home.team.division.name',
       'teams.home.team.division.link', 'teams.home.team.sport.id',
       'teams.home.team.sport.link', 'teams.home.team.sport.name',
       'teams.home.team.shortName', 'teams.home.team.franchiseName',
       'teams.home.team.clubName', 'teams.home.team.active',
       'teams.home.isWinner', 'teams.home.splitSquad',
       'teams.home.springLeague.id', 'teams.home.springLeague.name',
       'teams.home.springLeague.link',
       'teams.home.springLeague.abbreviation', 'venue.id', 'venue.name',
       'venue.link', 'content.link', 'gamesInSeries', 'seriesGameNumber',
       'teams.away.team.springLeague.id',
       'teams.away.team.springLeague.name',
       'teams.away.team.springLeague.link',
       'teams.away.team.springLeague.abbreviation',
       'teams.away.team.springVenue.id',
       'teams.away.team.springVenue.link', 'teams.away.team.division.id',
       'teams.away.team.division.name', 'teams.away.team.division.link',
       'teams.away.seriesNumber', 'teams.away.springLeague.id',
       'teams.away.springLeague.name', 'teams.away.springLeague.link',
       'teams.away.springLeague.abbreviation', 'teams.home.seriesNumber',
       'status.reason', 'description', 'teams.home.team.parentOrgName',
       'teams.home.team.parentOrgId', 'rescheduleDate',
       'rescheduleGameDate', 'rescheduledFrom', 'rescheduledFromDate',
       'resumeDate', 'resumeGameDate', 'resumedFrom', 'resumedFromDate',
       'teams.away.team.placeholder', 'teams.home.team.placeholder'],
      dtype=object)

In [18]:
import datasource_mlb as ds

In [19]:
ds.get_ratings().sort_values()

team
OAK    1405.331818
KC     1429.719457
COL    1440.631818
CWS    1445.692308
WSH    1463.262443
DET    1474.327273
STL    1475.931818
LAA    1475.931818
PIT    1477.536364
NYM    1488.768182
CLE    1492.013575
MIA    1496.805430
CIN    1498.409910
NYY    1500.000000
SF     1500.000000
AZ     1501.597285
BOS    1501.597285
SD     1509.583710
CHC    1517.650000
MIN    1519.167421
TOR    1522.463636
MIL    1524.068182
PHI    1524.068182
SEA    1527.277273
HOU    1531.945701
TEX    1533.695455
BAL    1549.740909
LAD    1556.415525
TB     1557.502262
ATL    1564.181818
Name: rating, dtype: float64

In [20]:
ds.get_games()

(     team1 team2  score1  score2
 0      WSH   ATL       2       7
 1      NYY    SF       5       0
 2      BOS   BAL       9      10
 3      CHC   MIL       4       0
 4       TB   DET       4       0
 ...    ...   ...     ...     ...
 2251   TEX   BOS       2       4
 2252   HOU   BAL       7       8
 2253    SD   COL      11       9
 2254   OAK   SEA       0       5
 2255   LAD   DET       8       3

 [2256 rows x 4 columns],
     team1 team2
 0      TB   LAA
 1     CIN   MIN
 2     MIA   NYM
 3     WSH   CWS
 4     NYY   TOR
 ..    ...   ...
 169   NYM   PHI
 170   CWS    SD
 171    KC   NYY
 172   MIL   CHC
 173   STL   CIN

 [174 rows x 2 columns])

In [21]:
import season_simulator as ss

In [22]:
ss.compute_standings(ds.get_games()[0])

AttributeError: module 'season_simulator' has no attribute 'compute_standings'

In [ ]:
    import json 
    import pandas as pd
    fp = open('input/schedule.json')
    schedule_data = json.load(fp)
    fp.close()
    all_gms = pd.json_normalize(schedule_data['dates'], record_path=['games'])
    reg = all_gms.query('gameType=="R"')

In [ ]:
reg.columns

Index(['gamePk', 'gameGuid', 'link', 'gameType', 'season', 'gameDate',
       'officialDate', 'isTie', 'gameNumber', 'publicFacing',
       ...
       'rescheduleDate', 'rescheduleGameDate', 'rescheduledFrom',
       'rescheduledFromDate', 'resumeDate', 'resumeGameDate', 'resumedFrom',
       'resumedFromDate', 'teams.away.team.placeholder',
       'teams.home.team.placeholder'],
      dtype='object', length=139)

In [ ]:
W = reg.groupby('teams.home.team.abbreviation').tail(1).set_index('teams.home.team.abbreviation')['teams.home.leagueRecord.wins']
L = reg.groupby('teams.home.team.abbreviation').tail(1).set_index('teams.home.team.abbreviation')['teams.home.leagueRecord.losses']
regressed_wpct = (W+35)/(W+L+70)
regressed_wpct

teams.home.team.abbreviation
TB     0.579909
WSH    0.458716
NYY    0.504587
CIN    0.511416
MIA    0.509174
HOU    0.541284
CHC    0.518349
TEX    0.539171
OAK    0.373272
SD     0.481651
LAD    0.574074
CLE    0.481651
BOS    0.500000
MIN    0.518349
PHI    0.529954
BAL    0.580645
SF     0.506912
ATL    0.603687
PIT    0.477064
LAA    0.472477
TOR    0.532110
DET    0.474654
AZ     0.511416
SEA    0.534562
COL    0.412037
NYM    0.474654
CWS    0.417431
KC     0.376147
MIL    0.543779
STL    0.460829
dtype: float64